body{
    background-color: #476A6F;
}
h1{
    font-family: 'Euphoria Script', cursive;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: #fafafc;
}
header>nav{
    font-family: 'Euphoria Script', cursive;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: #fafafc;
}
.hamburger{
    display: none;
}
header>nav>a{
    padding: 1rem;
    color: #B3D0D0;
}
.light{
    width: 100%;
    margin: 0;
    max-height: 20%;
}
.cover{
    display: block;
    width: 70%;
    margin: auto;
    background-color: #B3D0D0;
    padding: .5rem;
}
.coverhead{
    display: flex;
    justify-content: center;
}
h2{
    font-size: 2.5rem;
    font-family: 'Euphoria Script', cursive;
    display: flex;
    justify-content: center;
    color: #fafafc;
}
h3{
    font-size: 2rem;
    font-family: 'Euphoria Script', cursive;
    display: flex;
    justify-content: center;
    color: #fafafc;
}
nav>a:hover{
    color: #CC988E;
}
.storypic{
    display: block;
    width: 50%;
    margin: auto;
    background-color: #B3D0D0;
    padding: .5rem;
}
.story{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80%;
    display: block;
    margin: auto;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 150%;
    color: #fafafc;
}
.storywords{
    padding: 1rem;
}
.church{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 70%;
    display: block;
    margin: auto;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 150%;
    color: #fafafc;
    font-size: 2rem;
}
.churchp{
    padding: 2rem;
}
.churchpic{
    background-color: #B3D0D0;
    max-height: 40rem;
    padding: .5rem;
}
.churchaddress{
    color: #fafafc;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.barn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 73%;
    display: block;
    margin: auto;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 150%;
    color: #fafafc;
    font-size: 2rem;
}
.barnp{
    padding: 2rem;
}
.barnaddress{
    color: #fafafc;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.barnpic{
    max-height: 27rem;
    padding: .5rem;
    background-color: #B3D0D0;
}
.schedule{
    font-family: 'Euphoria Script', cursive;
    display: flex;
    width: 80%;
    margin: auto;
    font-size: 3rem;
    color: #fafafc;
    justify-content: center;
}
.image1{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: .5rem;
}
.all{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 6rem;
}
.links{
    padding: 5rem 10rem;
    font-size: 5rem;
    font-family: 'Euphoria Script', cursive;
    display: block;
}
.links>a{
    padding:4rem;
}
.h4{
    font-size: 4rem;
    color: #fafafc;
    font-family: 'Euphoria Script', cursive;
    margin: 1rem;
    padding-top: 1rem;
}
.h5{
    font-size: 3rem;
    color:#B3D0D0;
    font-family: 'Euphoria Script', cursive; 
    padding-left: 3rem; 
}
.bride{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.jopic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.ryanpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride1{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    padding: 1rem;
}
.lexipic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom1{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.gp{
    padding: 1rem;
}
.coreypic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride2{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.jennapic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom2{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.brandonpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride3{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.miahpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom3{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.fickpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride4{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.carlypic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom4{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.jarodpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride5{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.morganpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom5{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.matthiaspic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride6{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.allisonpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom6{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.devonpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride7{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.mylaneypic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom7{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.quinnpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.registry{
    max-height: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 0;
}
.links{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 4rem;
}
.target{
    margin: 0;
    font-size: 4rem;
    color: #B3D0D0;
}
.target:hover{
    color: #CC988E;
}
.amazon{
    margin: 0;
    font-size: 4rem;
    color: #B3D0D0;
}
.amazon:hover{
    color: #CC988E;
}
.menards{
    margin: 0;
    font-size: 4rem;
    color: #B3D0D0;
}
.menards:hover{
    color: #CC988E;
}
.amazonlogo{
    display: none;
}
.menardslogo{
    display: none;
}
.targetlogo{
    display: none;
}
.link{
    display: none;
}
.quinnpics,.devonpics,.matthiaspics,.jarodpics,.fickpics,.brandonpics,.coreypics,.ryanpics{
    display: none;
}
.title{
    display: none;
}
.storypics{
    display: none;
}
.image2{
    display: none;
}
.smalllights{
    display: none;
}

@media(max-width:1200px){
    .hamburger{
        display: block;
        width: 40px;
        padding: .5rem;
    }
    .hamburger hr{
        margin: .75rem 0;
        border: 2px solid white;
    }
    header nav{
        position: fixed;
        width: 50%;
        top: 9rem;
        left: 110%;
        transition-property: left;
        transition-duration: .75s;
        transition-timing-function: ease-in-out;
    }
    header nav a{
        display: block;
        color: #B3D0D0;
        text-align: center;
        text-decoration: none;
        padding: 3rem;
        border: 1px solid #CC988E;
    }
    header nav.show{
        left: 0;
    }
    .overlay{
        width: 100%;
        height: 100%;
        top: 4.75rem;
        position: fixed;
        background-color: #0b132b65;
        transition-property: left;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
        left: 100%;
    }
    .overlay.show{
        left: 0;
    }
    h1{
        font-size: 4rem;
    }
    header>nav{
        font-size: 1.25rem;
    }
    header>nav>a{
        padding: .5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .story{
        display: block;
    }
    .churchpic{
        width: 40%;
    }
    .schedule{
        font-size: 1.5rem;
    }
    .photop{
        font-size: 3rem;
    }
    .links{
        font-size: 1.5rem;
    }
    .photos{
        width: 100%;
    }
    .registry{
        display: none;
    }
    .amazonlogo{
        display: flex;
        height: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .targetlogo{
        display: flex;
        height: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .menardslogo{
        display: flex;
        height: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .links{
        display: none;
    }
    .link{
        display: flex;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: 4rem;
        font-family: 'Euphoria Script', cursive;
        color: #B3D0D0;
    }
    .link:hover{
        color: #CC988E;
    }
    .mregistry{
        max-height: 30rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 0;
    }
    .bride{
        display: block;
    }
    .jopic{
        display: block;
    }
    .groom{
        display: block;
    }
    .ryanpic{
        display: block;
    }
    .bride1,.bride2,.bride3,.bride4,.bride5,.bride6,.bride7{
        display: block;
    }
    .groom1,.groom2,.groom3,.groom4,.groom5,.groom6,.groom7{
        display: block;
    }
    .quinnpic,.devonpic,.matthiaspic,.jarodpic,.fickpic,.brandonpic,.coreypic,.ryanpic{
        display: none;
    }
    .quinnpics,.devonpics,.matthiaspics,.jarodpics,.fickpics,.brandonpics,.coreypics,.ryanpics{
        display: block;
        background-color: #B3D0D0;
        max-height: 15rem;
        padding: .5rem;
    }
    .title{
        display: flex;
        justify-content: center;
        font-size: 4rem;
        color:#CC988E;
        font-family: 'Euphoria Script', cursive;
        margin: .5rem;
        padding-top: 1rem;
        text-decoration: dotted underline;
    }
    .amazon,.target,.menards{
        margin: 0;
        font-size: 4rem;
        color: #B3D0D0;
        font-family: 'Euphoria Script', cursive;
    }
    .h4{
        font-size: 4rem;
        color: #fafafc;
        font-family: 'Euphoria Script', cursive;
        margin: 1rem;
        line-height: 100%;
    }
    .h5{
        font-size: 3rem;
        color:#B3D0D0;
        font-family: 'Euphoria Script', cursive; 
        padding-left: 3rem; 
        line-height: 100%;
    }
    .bride,.bride1,.bride2,.bride3,.bride4,.bride5,.bride6,.bride7,.groom,.groom1,.groom2,.groom3,.groom4,.groom5,.groom6,.groom7{
        width: 110%;
        display: block;
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        line-height: 150%;
        color: #fafafc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1rem;
    }
    .ryanpic{
        max-height: 10rem;
    }
    .gp{
        width: 100%;
        padding: 0;
    }
    .home{
        padding-bottom: 10rem;
    }
    .coverhead{
        padding-bottom: 3rem;
    }
    .storypic{
        display: none;
    }
    .storypics{
        display: block;
        width: 100%;
        margin: auto;
        background-color: #B3D0D0;
        padding: .5rem;
    }
    .church{
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 70%;
        display: block;
        margin: auto;
        font-size: large;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        line-height: 120%;
        color: #fafafc;
        font-size: 1.2rem;
    }
    .churchp{
        padding: 2rem;
    }
    .churchpic{
        background-color: #B3D0D0;
        max-height: 40rem;
        padding: .5rem;
    }
    .churchaddress{
        color: #fafafc;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }
    .barn{
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 73%;
        display: block;
        margin: auto;
        font-size: large;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        line-height: 150%;
        color: #fafafc;
        font-size: 1.2rem;
    }
    .barnp{
        padding: 2rem;
    }
    .barnaddress{
        color: #fafafc;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }
    .barnpic{
        max-height: 27rem;
        padding: .5rem;
        background-color: #B3D0D0;
    }
    .image1{
        display: none;
    }
    .image2{
        display: flex;
        justify-content: center;
        width: 70%;
        margin: auto;
        padding: .5rem;
    }
    .light{
        display: none;
    }
    .smalllights{
        display: block;
        width: 100%;
    }
}