body{
    background-color: #50878F;
}
h1{
    font-family: 'Euphoria Script', cursive;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: #fafafc;
}
header>nav{
    font-family: 'Euphoria Script', cursive;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: #fafafc;
}
.hamburger{
    display: none;
}
header>nav>a{
    padding: 1rem;
    color: #B3D0D0;
}
.light{
    width: 100%;
    margin: 0;
    max-height: 20%;
}
.cover{
    display: block;
    width: 70%;
    margin: auto;
    background-color: #B3D0D0;
    padding: .5rem;
}
.coverhead{
    display: flex;
    justify-content: center;
}
h2{
    font-size: 3rem;
    font-family: 'Euphoria Script', cursive;
    display: flex;
    justify-content: center;
    color:#CC988E;
}
h3{
    font-size: 2rem;
    font-family: 'Euphoria Script', cursive;
    display: flex;
    justify-content: center;
    color: #fafafc;
}
nav>a:hover{
    color: #CC988E;
}
.home{
    padding-bottom: 2rem;
}
.schedule{
    padding-bottom: 1rem;
}
.storypic{
    display: block;
    width: 50%;
    margin: auto;
    background-color: #B3D0D0;
    padding: .5rem;
}
.story{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80%;
    display: block;
    margin: auto;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 150%;
    color: #fafafc;
    padding-bottom: 2rem;
}
.storywords{
    padding: 1rem;
}
.church{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 70%;
    display: block;
    margin: auto;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 150%;
    color: #fafafc;
    font-size: 2rem;
}
.churchp{
    padding: 2rem;
}
.churchpic{
    background-color: #B3D0D0;
    max-height: 40rem;
    padding: .5rem;
}
.churchaddress{
    color: #fafafc;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.barn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 73%;
    display: block;
    margin: auto;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 150%;
    color: #fafafc;
    font-size: 2rem;
}
.barnp{
    padding: 2rem;
}
.barnaddress{
    color: #fafafc;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.barnpic{
    max-height: 27rem;
    padding: .5rem;
    background-color: #B3D0D0;
}
.schedule{
    font-family: 'Euphoria Script', cursive;
    display: flex;
    width: 80%;
    margin: auto;
    font-size: 3rem;
    color: #fafafc;
    justify-content: center;
}
.image1{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: .5rem;
}
.all{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 6rem;
}
.links{
    padding: 5rem 10rem;
    font-size: 5rem;
    font-family: 'Euphoria Script', cursive;
    display: block;
}
.links>a{
    padding:4rem;
}
.h4{
    font-size: 4rem;
    color: #fafafc;
    font-family: 'Euphoria Script', cursive;
    margin: 1rem;
    padding-top: 1rem;
}
.h5{
    font-size: 3rem;
    color:#B3D0D0;
    font-family: 'Euphoria Script', cursive; 
    padding-left: 3rem; 
}
.bride{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.jopic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.ryanpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride1{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    padding: 1rem;
}
.lexipic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom1{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.gp{
    padding: 1rem;
}
.coreypic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride2{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.jennapic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom2{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.brandonpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride3{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.miahpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom3{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.fickpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride4{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.carlypic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom4{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.jarodpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride5{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.morganpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom5{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.matthiaspic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride6{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.allisonpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom6{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.devonpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride7{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.mylaneypic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom7{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.quinnpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.bride8{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.juliapic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.groom8{
    width: 60%;
    display: block;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    line-height: 120%;
    color: #fafafc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.masonpic{
    background-color: #B3D0D0;
    max-height: 15rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.registry{
    max-height: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 0;
}
.links{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 4rem;
}
.target{
    margin: 0;
    font-size: 4rem;
    color: #B3D0D0;
}
.target:hover{
    color: #CC988E;
}
.amazon{
    margin: 0;
    font-size: 4rem;
    color: #B3D0D0;
}
.amazon:hover{
    color: #CC988E;
}
.menards{
    margin: 0;
    font-size: 4rem;
    color: #B3D0D0;
}
.menards:hover{
    color: #CC988E;
}
.amazonlogo{
    display: none;
}
.menardslogo{
    display: none;
}
.targetlogo{
    display: none;
}
.link{
    display: none;
}
.masonpics,.quinnpics,.devonpics,.matthiaspics,.jarodpics,.fickpics,.brandonpics,.coreypics,.ryanpics,.juliapics,.jopics,.lexipics,.jennapics,.miahpics,.carlypics,.morganpics,.allisonpics,.mylaneypics{
    display: none;
}
.title{
    display: none;
}
.storypics{
    display: none;
}
.image2{
    display: none;
}
.smalllights{
    display: none;
}

@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Handlee);
@import url(https://fonts.googleapis.com/css?family=Give+You+Glory);
html {
  -webkit-font-smoothing: antialiased;
}

.library-card {
  font-family: monospace;
  transform: rotate(3deg);
}

.library-card.envelope {
  background-color: #dbd7c2;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  height: 400px;
  margin: 100px auto 0;
  padding-top: 50px;
  position: relative;
  width: 340px;
}

.library-card > .front {
  background-color: #d9cc8c;
  background: -webkit-radial-gradient(#f2eed9, #d9cc8c) 50% -150px, #d9cc8c;
  background-repeat: no-repeat;
  background-size: 150% 600px;
  border-radius: 2px 2px 3px 3px;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 450px;
  margin-left: -10px;
  position: relative;
  width: 350px;
  z-index: 1;
}

.library-card > .card {
  background-color: #f0f0f0;
  border-radius: 3px;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  height: 550px;
  margin-left: -5px;
  position: absolute;
  top: -60px;
  width: 340px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(1deg);
}

.envelope.card-out > .card {
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.5);
  -webkit-animation: card-pull 1s 1;
  -webkit-transform: rotate(-5deg);
  z-index: 2;
}

.envelope.card-in > .card {
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.5);
  -webkit-animation: card-in 1s 1;
  z-index: 0;
}

@-webkit-keyframes card-pull {
  0% {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
    top: -60px;
    -webkit-transform: rotate(1deg);
    z-index: 0;
  }
  50% {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
    top: -400px;
    -webkit-transform: rotate(-1deg);
    z-index: 0;
  }
  100% {
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.5);
    top: -60px;
    -webkit-transform: rotate(-5deg);
    z-index: 2;
  }
}
@-webkit-keyframes card-in {
  0% {
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.5);
    top: -60px;
    -webkit-transform: rotate(-5deg);
    z-index: 2;
  }
  50% {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
    top: -400px;
    -webkit-transform: rotate(-1deg);
    z-index: 2;
  }
  55% {
    z-index: 0;
  }
  100% {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
    top: -60px;
    -webkit-transform: rotate(1deg);
    z-index: 0;
  }
}
@-webkit-keyframes card-stuff {
  0% {
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.5);
    top: -60px;
    -webkit-transform: rotate(-5deg);
    z-index: 2;
  }
  50% {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
    top: -400px;
    -webkit-transform: rotateZ(-1deg);
    z-index: 0;
  }
  100% {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
    top: -60px;
    -webkit-transform: rotate(1deg);
    z-index: 0;
  }
}
.library-card .card {
  line-height: 38px;
}

.library-card .stamp {
  color: #000000;
  font-family: Futura;
  font-size: 16px;
  position: relative;
  top: 50px;
  text-align: center;
}

.library-card .dewey-decimal {
  float: left;
  height: 106px;
  padding-left: 10px;
  width: 60px;
}

.library-card .title1 {
  margin-right: 75px;
  line-height: 18px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.library-card table {
  clear: left;
}


.library-card th {
  font-family: Futura;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

.library-card .due-date {
  padding: 0 6px;
  width: 75px;
}

.library-card td.due-date {
  color: #000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  -webkit-transform: rotate(0deg);
}

.library-card tr:nth-child(2) td.due-date {
  -webkit-transform: rotate(0deg);
}

.library-card tr:nth-child(3) td.due-date {
  -webkit-transform: rotate(0deg);
  right: -7px;
}

.library-card .issued-to {
  padding: 0 5px;
  width: 225px;
}

.library-card td.issued-to {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
}

.library-card tr:nth-child(2) td.issued-to {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}

.library-card tr:nth-child(3) td.issued-to {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  -webkit-transform: rotate(0deg);
}


.form-label * {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
}

#rsvp-form {
  position: absolute;
  top: 179px;
  left: 80px;
}
#rsvp-form input {
  background: rgba(255, 255, 255, 0);
}

#rsvp-form label {
  color: rgba(0, 0, 0, 0.3);
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  text-indent: -10px;
}
#rsvp-form select {
  margin-left: 7px;
  padding: 5px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.5);
}
#rsvp-form select option {
  text: black;
}

input[type="radio"] {
    -ms-transform: scale(.75); 
    -webkit-transform: scale(.75);
    transform: scale(.75);
  }

.attending{
    display: inline-block;
    justify-content: center;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
#rsvp-form .number{
    color: #000000;
    padding-top: .23rem;
    padding-bottom: .2rem;
    padding-right: .23rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#rsvp-form .attending-no{
    color: #000000;
}
#rsvp-form .yes, #rsvp-form .no{
    color: #000000;
}
input[type=text]{
    border: none;
}
input[type=number]{
    padding-left: 1rem;
    margin-top: .7rem;
    border-radius: 1px;
    border: 1px solid #000000;
    cursor: pointer;
}

#rsvp-form .submit {
  cursor: pointer;
  text-align: center;
  letter-spacing: 5px;
  font-family: 'Euphoria Script', cursive;
  font-size: 150%;
  margin-left: 30px;
  color: #50878F;
  border: 3px solid #50878F;
  border-radius: 10px;
  width: 150px;
  background-color: #f0f0f0;
  margin-top: 1rem;
}

#rsvp-form .submit:hover{
    background-color: #B3D0D0;
    color: #CC988E;
}

.rsvpform{
    padding-bottom: 10rem;
}
.breaks{
    display: none;
}

@media(max-width:1200px){
    .break{
        display: none;
    }
    .breaks{
        display: block;
    }
    .story{
        width: 95%;
    }
    .all{
        display: block;
        width: 95%;
        padding: 1rem;
    }
    .hamburger{
        display: block;
        width: 40px;
        padding-left: .5rem;
    }
    .hamburger hr{
        margin: .75rem 0;
        border: 2px solid white;
    }
    header nav{
        position: fixed;
        width: 100%;
        top: 8rem;
        left: 100%;
        transition-property: left;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }
    header nav a{
        display: block;
        color: #B3D0D0;
        text-align: center;
        text-decoration: none;
        padding: 1rem;
        border: 1px solid #CC988E;
        background-color: #50878F;
        font-size: 2rem;
    }
    header nav.show{
        left: 0;
    }
    .overlay{
        width: 100%;
        height: 100%;
        top: 6rem;
        position: fixed;
        background-color: #0b132b65;
        transition-property: left;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
        left: 100%;
    }
    .overlay.show{
        left: 0;
    }
    .menu{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    h1{
        font-size: 4rem;
    }
    header>nav{
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
    }
    header>nav>a{
        padding: .5rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .story{
        display: block;
    }
    .churchpic{
        width: 40%;
    }
    .schedule{
        font-size: 1.5rem;
    }
    .photop{
        font-size: 3rem;
    }
    .links{
        font-size: 1.5rem;
    }
    .photos{
        width: 100%;
    }
    .registry{
        display: none;
    }
    .amazonlogo{
        display: flex;
        height: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .targetlogo{
        display: flex;
        height: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .menardslogo{
        display: flex;
        height: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .links{
        display: none;
    }
    .link{
        display: flex;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size: 4rem;
        font-family: 'Euphoria Script', cursive;
        color: #B3D0D0;
    }
    .link:hover{
        color: #CC988E;
    }
    .mregistry{
        max-height: 30rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 0;
    }
    .bride{
        display: block;
    }
    .jopic{
        display: block;
    }
    .groom{
        display: block;
    }
    .ryanpic{
        display: block;
    }
    .bride1,.bride2,.bride3,.bride4,.bride5,.bride6,.bride7,.bride8{
        display: block;
    }
    .groom1,.groom2,.groom3,.groom4,.groom5,.groom6,.groom7,.groom8{
        display: block;
    }
    .quinnpic,.devonpic,.matthiaspic,.jarodpic,.fickpic,.brandonpic,.coreypic,.ryanpic,.jopic,.lexipic,.jennapic,.miahpic,.carlypic,.morganpic,.allisonpic,.mylaneypic,.juliapic,.masonpic{
        display: none;
    }
    .quinnpics,.devonpics,.matthiaspics,.jarodpics,.fickpics,.brandonpics,.coreypics,.ryanpics,.lexipics,.jopics,.jennapics,.carlypics,.miahpics,.morganpics,.allisonpics,.mylaneypics,.juliapics,.masonpics{
        display: block;
        background-color: #B3D0D0;
        max-height: auto;
        padding: .5rem;
    }
    .title{
        display: flex;
        justify-content: center;
        font-size: 4rem;
        color:#CC988E;
        font-family: 'Euphoria Script', cursive;
        margin: .5rem;
        padding-top: 1rem;
        text-decoration: dotted underline;
    }
    .amazon,.target,.menards{
        margin: 0;
        font-size: 4rem;
        color: #B3D0D0;
        font-family: 'Euphoria Script', cursive;
    }
    .h4{
        font-size: 4rem;
        color: #fafafc;
        font-family: 'Euphoria Script', cursive;
        margin: 1rem;
        line-height: 100%;
    }
    .h5{
        font-size: 3rem;
        color:#B3D0D0;
        font-family: 'Euphoria Script', cursive; 
        padding-left: 3rem; 
        line-height: 100%;
    }
    .bride,.bride1,.bride2,.bride3,.bride4,.bride5,.bride6,.bride7,.groom,.groom1,.groom2,.groom3,.groom4,.groom5,.groom6,.groom7,.bride8,.groom8{
        width: 95%;
        display: block;
        justify-content: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        line-height: 150%;
        color: #fafafc;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1rem;
    }
    .gp{
        width: 100%;
        padding: 0;
    }
    .home{
        padding-bottom: 10rem;
    }
    .coverhead{
        padding-bottom: 3rem;
    }
    .storypic{
        display: none;
    }
    .storypics{
        display: block;
        width: 100%;
        margin: auto;
        background-color: #B3D0D0;
        padding: .5rem;
    }
    .church{
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 70%;
        display: block;
        margin: auto;
        font-size: large;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        line-height: 120%;
        color: #fafafc;
        font-size: 1.2rem;
    }
    .churchp{
        padding: 2rem;
    }
    .churchpic{
        background-color: #B3D0D0;
        max-height: 40rem;
        padding: .5rem;
    }
    .churchaddress{
        color: #fafafc;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }
    .barn{
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 73%;
        display: block;
        margin: auto;
        font-size: large;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        line-height: 150%;
        color: #fafafc;
        font-size: 1.2rem;
    }
    .barnp{
        padding: 2rem;
    }
    .barnaddress{
        color: #fafafc;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }
    .barnpic{
        max-height: 27rem;
        padding: .5rem;
        background-color: #B3D0D0;
    }
    .image1{
        display: none;
    }
    .image2{
        display: flex;
        justify-content: center;
        width: 70%;
        margin: auto;
        padding: .5rem;
    }
    .light{
        display: none;
    }
    .smalllights{
        display: block;
        width: 100%;
    }
}